---
import Card from '../../components/Card.astro';
import { Button } from '../../components/ui/button';
import { PROFILE } from "../../content/profileData";
import { Linkedin, Github, Mail, Youtube, Twitter, Rss, Book, PanelsTopLeft } from 'lucide-react';
---

<Card colSpan="md:col-span-4" rowSpan="md:row-span-1">
  <div class="flex h-full w-full animate-appear">
    <div class="flex flex-col justify-between gap-4 md:max-h-[300px]">
      <div class="flex h-full flex-col">
        <p class="m-0 text-xl font-light">
          Hi, I'm <b class="font-bold">{PROFILE.firstName}</b>.
        </p>
        <ul class="pt-4 space-y-1">
          {PROFILE.shortIntros.map((intro, index) => (
            <>
              {/* 这里保留了你的逻辑：在中间插入换行，或者是简单的列表项 */}
              <li class="text-gray-600 dark:text-gray-400">{intro}</li>
            </>
          ))}
        </ul>
      </div>
      
      <div class="flex gap-4">
        <a href={PROFILE.links.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        {/* 保留你代码里其他的社交判断逻辑 */}
        {
          PROFILE.links?.youtube && <a href={PROFILE.links.youtube} aria-label="youtube channel" target="_blank">
            <Button aria-label="youtube channel"><Youtube/><span class="sr-only">Youtube</span></Button>
          </a>
        }
        {/* ...你可以继续添加其他图标，空间足够放下... */}
      </div>
    </div>

    <img
      src={PROFILE.avatarUrl}
      class="pointer-events-none absolute bottom-[-20px] right-[-110px] z-[-1] max-h-[256px] w-auto select-none opacity-50 md:relative md:bottom-auto md:right-auto md:z-auto md:opacity-100"
      width="100%"
      height="auto"
      alt={`image of ${PROFILE.name}`}
    />
  </div>
</Card>
